{% extends "base.html" %}
{% block title %}メンバー削除{% endblock %}
{% block content %}
    <h1>メンバー更新</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        <table border="1">
            <tr>
                <th>id</th>
                <th>名前</th>
                <th>Eメール</th>
            </tr>
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.email }}</td>
            </tr>
        </table>
        <input type="submit" value="削除">
    </form>
{% endblock %}
